stk-user-preview {
  .user-preview-search {
    .user-preview {
      display: flex;
      flex-direction: row;

      .avatar {
        height: 90px;
        width: 90px;
        margin-right: 20px;
      }

      .user-stats {
        display: flex;
        flex-direction: row;
      }
    }

    &.card .card-action {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .user-preview-repositories {
    &.card .card-action {
      display: flex;
      flex-direction: column;
    }
  }

  .card .card-action a {
    text-transform: uppercase;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user-name {
      font-size: 20px;
    }

    .user-login {
      color: #666;
      font-style: italic;
    }

    .user-stats {
      padding-top: 20px;
    }
  }
}