<div class="col {{$ctrl.colClass}}">
  <div class="card user-preview-search" ng-if="$ctrl.isList">

    <div class="card-content user-preview">

      <a ng-href="git/{{$ctrl.user.login}}" class="hide-on-med-and-down">
        <img alt="@{{$ctrl.user.login}}" class="avatar" ng-src="{{$ctrl.user.avatar_url}}">
      </a>

      <div class="user-info">

        <div class="user-name">
          <a href="git/{{$ctrl.user.login}}" class="user-name">{{$ctrl.user.name || $ctrl.user.login}}</a>
        </div>

        <span class="user-login" ng-if="$ctrl.user.name">
          {{$ctrl.user.login}}
        </span>

        <div class="user-stats">
          <div class="chip">Repositórios {{$ctrl.user.public_repos}}</div>
          <div class="chip">Seguidores {{$ctrl.user.followers}}</div>
        </div>
      </div>

    </div>

    <div class="card-action">
      <a ng-href="{{$ctrl.user.html_url}}" target="_blank">Ver perfil no GitHub</a>
      <stk-user-comments user-login="{{$ctrl.user.login}}"></stk-user-comments>
    </div>
  </div>

  <div class="card user-preview-repositories" ng-if="$ctrl.isDetails">
    <div class="card-image">
      <img ng-src="{{$ctrl.user.avatar_url}}">
    </div>
    <div class="card-content user-info">
      <div class="user-name">
        {{$ctrl.user.name}}
      </div>
      <div class="user-login">
        {{$ctrl.user.login}}
      </div>
      <div class="user-bio">
        {{$ctrl.user.bio}}
      </div>
      <div class="user-location">
        <svg aria-hidden="true" class="octicon octicon-location" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
        {{$ctrl.user.location}}
      </div>
    </div>
    <div class="card-action">
      <a ng-href="{{$ctrl.user.html_url}}" target="_blank">Ver perfil no GitHub</a>
      <stk-user-comments user-login="{{$ctrl.user.login}}"></stk-user-comments>
    </div>
  </div>
</div>