<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 social-links">
        <a href="https://github.com/PetrusStarken/" target="_blank" class="social-link"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://pt.stackoverflow.com/users/34771/pedro-camara-junior?tab=profile" target="_blank" class="social-link"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/pedrocamarajunior" target="_blank" class="social-link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://br.linkedin.com/in/pcamarajr" target="_blank" class="social-link"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Pedro Camara Junior
    </div>
  </div>
</footer>