stk-header {

  nav {
    height: 85px;

    @media ($mq-medium) {
      height: 104px;
    }

    .brand-logo {
      left: auto;
      transform: none;
      position: unset;

      i {
        font-size: 1.5em;
  
        @media ($mq-medium) {
          font-size: 3em;
        }
      }
    }
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;

    @media ($mq-medium) {
      justify-content: space-around;
      margin: 0;
    }
  }

  .button-collapse {
    cursor: pointer;
  }

  .menu,
  .mobile-menu {
    text-transform: uppercase;
  }

  .mobile-menu.show-mobile-menu {
    width: 100%;
    text-align: center;

    a {
      text-decoration: none;
      font-size: 25px;
      color: $text-light-color;
      display: block;
      transition: 0.3s;

      &:nth-child(n+3):after {
        content: "";
        background: $text-light-color;
        display: block;
        width: 60%;
        height: 2px;
        margin: auto;
      }

      &:hover,
      &:focus {
        color: $highlight-color;
      }
    }

    .brand-logo {
      margin-top: -20px;
      margin-bottom: 20px;

      i {
        font-size: 3.5em;
      }
    }

    .offcanvas a:focus{
      color: $highlight-color;
    }

    .btn-close {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }

  .mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primary-color;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

    a {
      display: none;
    }
  }
}