stk-header {

  nav {
    height: 85px;

    @media ($mq-medium) {
      height: 104px;
    }

    .brand-logo {
      left: auto;
      transform: none;
      position: unset;

      i {
        font-size: 1.5em;
  
        @media ($mq-medium) {
          font-size: 3em;
        }
      }
    }
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;

    @media ($mq-medium) {
      justify-content: space-around;
      margin: 0;
    }
  }

  .menu ul li {
    margin-right: 10px;
  }

  .menu,
  .menu-mobile {
    text-transform: uppercase;
  }

  .button-collapse {
    cursor: pointer;
  }
}