<header>
  <nav>
    <div class="nav-wrapper">

      <div class="menu hide-on-med-and-down">
        <ul>
          <li><stk-menu-button url="git/PetrusStarken">Meus Repositórios</stk-menu-button></li>
        </ul>
      </div>

      <div class="brand-logo"><a href="/"><i class="fa fa-github"></i></a></div>
      
      <a class="button-collapse" ng-click="$ctrl.showHideMobileMenu()">
        <i class="material-icons">menu</i>
      </a>

      <div class="menu hide-on-med-and-down">
        <ul>
          <li><stk-menu-button url="challenge">O desafio</stk-menu-button></li>
        </ul>
      </div>

    </div>

    <div id="mobile-menu" ng-class="($ctrl.showMobileMenu ? 'mobile-menu show-mobile-menu' : 'mobile-menu')">
      <a href="/" class="brand-logo" ng-click="$ctrl.showHideMobileMenu()"><i class="fa fa-github"></i></a>
      <a href="javascript:void(0)" class="btn-close" ng-click="$ctrl.showHideMobileMenu()"><i class="material-icons">close</i></a>
      <a href="git/PetrusStarken" ng-click="$ctrl.showHideMobileMenu()">Meu repositórios</a>
      <a href="challenge" ng-click="$ctrl.showHideMobileMenu()">O desafio</a>
    </div>

  </nav>
</header>