stk-menu-button {
  $btn-hover-color: $text-light-color;

  // designed by: Ahmed Beheiry -- https://codemyui.com/minimalistic-hover-effect-button-animations/
  .stk-menu-btn {
    background: transparent;
    outline: none !important;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  .stk-menu-btn-animate {
    width: 100%;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 25px;

      &:before, 
      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        background: $btn-hover-color;
        transition: all 0.3s ease;
      }

      &:before {
        width: 2px;
        height: 0%;
      }

      &:after {
        width: 0%;
        height: 2px;
      }

      &:hover:before {
        height: 100%;
      }

      &:hover:after {
        width: 100%;
      }
    }

    &:before,
    &:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      background: $btn-hover-color;
      transition: all 0.3s ease;
    }

    &:before {
      height: 0%;
      width: 2px;
    }

    &:after {
      width: 0%;
      height: 2px;
    }

    &:hover:before {
      height: 100%;
    }

    &:hover:after {
      width: 100%;
    }
  }

}