stk-user-not-found {
  .not-found {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
  
    @media ($mq-small) {
      font-size: 40px;
    }
  
    em {
      background: yellow;
      padding: 0 10px 0 5px;
    }
  }
}