<div class="row">
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" placeholder="buscar no GitHub" ng-model="searchString" ng-change="$ctrl.searchOnGit(searchString)">
          <label for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
  </nav>
</div>
<div class="row">
  <div class="divider"></div>
  <stk-user-preview user-login="user.login" is-list="true" col-class="s12 l6 xl4" ng-repeat="user in $ctrl.users"></stk-user-preview>
</div>