<header>
  <nav>
    <div class="nav-wrapper">

      <div class="menu">
        <ul class="hide-on-med-and-down">
          <li><stk-menu-button url="user/PetrusStarken">Petrus Starken</stk-menu-button></li>
          <li><stk-menu-button url="repo/PetrusStarken">Meus Repositórios</stk-menu-button></li>
        </ul>
      </div>

      <div class="brand-logo"><a href="/"><i class="fa fa-github"></i></a></div>
      
      <a class="button-collapse" data-activates="mobile-menu" data-menuwidth="200" data-sidenav="left" data-closeonclick="true">
        <i class="material-icons">menu</i>
      </a>

      <div class="menu">
        <ul class="hide-on-med-and-down">
          <li><stk-menu-button url="desafio">O desafio</stk-menu-button></li>
          <li><stk-menu-button url="solucao">A solução</stk-menu-button></li>
        </ul>
      </div>

    </div>

    <div class="menu-mobile">
      <ul class="side-nav" id="mobile-menu">
        <li class="bold"><a href="user/PetrusStarken" class="waves-effect waves-involved">Meu repositórios</a></li>
        <li class="bold"><a href="repo/PetrusStarken" class="waves-effect waves-involved">Pesquisar</a></li>
        <li class="bold"><a href="desafio" class="waves-effect waves-involved">O desafio</a></li>
        <li class="bold"><a href="solucao" class="waves-effect waves-involved">A solução</a></li>
      </ul>
    </div>
  </nav>
</header>