body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $background-color;
}

a {
  &:hover {
    color: $highlight-color;
  }
}

nav,
footer.page-footer {
  background-color: $primary-color;
}

main {
  flex: 1 0 auto;
}

.card .card-action {
  display: flex;
  flex-direction: row;

  a {
    color: $text-dark-color;

    &:hover {
      color: $highlight-color;
    }
  }
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}