$primary-color: #212121;
$secondary-color: #569BD0;

$text-light-color: white;
$text-dark-color: black;

$highlight-color: #AA2D22;
$background-color: #E4E8EB;

$mq-small: 'min-width: 768px';
$mq-medium: 'min-width: 992px';
$mq-large: 'min-width: 1200px';