<div class="card">
  <h1>O desafio: Pesquisa de perfis do GitHub</h1>

  <div class="divider"></div>

  <div class="row">

    <div class="col s6 m4 offset-m2">
      <div class="center objective">
        <i class="material-icons">person_outline</i>
        <p class="title">Pesquisa de usuários</p>
        <p class="light center">Permitir a pesquisa de usuários por nome e exibir o resultado na mesma página.</p>
      </div>
    </div>

    <div class="col s6 m4">
      <div class="center objective">
        <i class="material-icons">assignment</i>
        <p class="title">Anotações sobre o usuário</p>
        <p class="light center">Permitir que sejam salvas anotações sobre um usuário pesquisado.</p>
      </div>
    </div>

    <div class="col s6 m4 offset-m2">
      <div class="center objective">
        <i class="material-icons">extension</i>
        <p class="title">Paginar repositórios</p>
        <p class="light center">Mostrar repositórios do usuário de forma paginada.</p>
      </div>
    </div>

    <div class="col s6 m4">
      <div class="center objective">
        <i class="material-icons">error_outline</i>
        <p class="title">Página 404</p>
        <p class="light center">Quando não existir o usuário buscado, exibir uma página de 404.</p>
      </div>
    </div>
    
  </div>
</div>